/ClientController.class
/DeliveryController.class
/DietPreferenceController.class
/FloodDataController.class
/LoginController.class
/MealController.class
/MealPlanController.class
/RiderController.class
/SupplierController.class
/MealIngredientController.class
/IngredientController.class
/LocationController.class
